.container{
    padding: 20px;
    background-color: white;
}
.card{
    display: flex;
    gap: 15px;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.image{
    position: relative;
    width: 180px;
    flex-shrink: 0;
}
.image img{
    width: 100%;
    display: block;
    border-radius: 8px;
}
.capsule{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.8);;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 12px;
}