* {
    margin: 0;
    padding: 0;
}

.parent {
    height: 500px;
    padding: 20px;
    margin: 34px;
    border: 5px solid red;
    position: relative;
     /* transform: translate(0); */
            /* filter: invert(0); */
            /* perspective: 0em; */
}

.box {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid black;
    color: white;
}

.box1 {
    background-color: blue;
    position: absolute;
    top: 10px;
    right: 10px;
}

.box2 {
    background-color: purple;
    position: fixed;
    top: 50%;
    right: 10px;
    width: 100px;
}

.box3 {
    background-color: aquamarine;
    position: sticky;
    top: 0px;
    color: black;
    z-index: 10;
}

.box4 {
    background-color: green;
    height: 100px;
}